.bulle {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.profil {
    position: absolute;
    translate: 0px -150px;
    background-color: #c16a00;
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: profile 1s forwards ;
}

.pos1 {
    position: absolute;
    translate: 0px -90px;
    animation: rebondG 2s ease-in-out;
    animation-fill-mode: forwards;
}

.pos2 {
    position: absolute;
    top: 25%;
    left: 50%;
}

.pos3 {
    position: absolute;
    top: 25%;
    left: 75%;
}

