@keyframes rebondG {
    0% {
        top:-15%;
        left: 27%;
        animation-timing-function: cubic-bezier(.04,.03,.32,-0.08);
    }
    10% {
        top: 5%;
        left: 25%;
        animation-timing-function: cubic-bezier(.04,.03,.32,-0.08);
    }
    30% {
        top: 100%;
        left: 20%;
        animation-timing-function: cubic-bezier(.04,.03,.32,-0.08);
    }
    50% {
        top: 75%;
        left: 10%;
        animation-timing-function: ease-in;
    }
    80% {
        top: 100%;
        left: 5%;
        animation-timing-function: ease-in;
    }
    100% {
        top: 80%;
        left: -5%;
        animation-timing-function: ease-in;
    }
    
}

@keyframes profile {
    0% {
        top: -5%;
        left: 24%;
    }
    10% {
        top: 5%;
        left: 26%;
    }
    50% {
        top: 100%;
        left: 30%;
    }
    100% {
        top: 50%;
        left: 35%;
    }
}